<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
  <div class="container">
    <i class="fab fa-reddit"><a class="navbar-brand" href="/subs">reddit</a></i>
    
    
  
      <form class="d-flex justify-content-center">
            <%# <i class="bi bi-search"></i> %>
            <input class="form-control me-2" type="search" placeholder="Search Reddit" aria-label="Search">
      </form>


      <ul class="nav justify-content-end">
      <% if current_user %>
        
       <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/subs/new" ><%= "+" %></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page"><%= current_user.username %></a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page"><%= button_to "Logout", session_url, method: :delete %></a>
        </li>

         


      </ul>
      <% else %>
            <%= link_to "Sign in!", new_session_url %>
      <% end %>

  </div>
</nav>