<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light" >
  <div class="container">
  
    <a class="navbar-brand" href="/subs" >
      <%= image_tag("red1.png", :alt => "reddit logo", style: 'height:43px;width:86px;') %>
    </a>
    
      <form class="d-flex justify-content-center">
            <input class="form-control me-2" type="search" placeholder="Search Reddit" aria-label="Search">
      </form>


      <ul class="nav nav-ul justify-content-end">
      <% if current_user %>
        
       <li class="nav-item">
          <a class="nav-link active my-own-color" aria-current="page" href="/posts/new" ><i class="fal fa-plus"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link my-own-color" aria-current="page"><%= current_user.username %></a>
        </li>

        <li class="nav-item">
          <a class="nav-link active my-own-color" aria-current="page"><%= button_to "Logout", session_url, method: :delete %></a>
        </li>

        <% else %>

        <li class="nav-item nav-item2">
            <a class="btn btn-primary btn-primary2" href="/users/new" role="button">Sign Up</a>
            <a class="btn btn-outline-primary btn-outline-primary2" href="/session/new" role="button">Log In</a>
            
        </li>

      <% end %> 

      <div class="errors">
        <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
            <%= error %>
          <% end %>
        <% end %>
      </div>


      </ul>
      

  </div>
</nav>