
<div class="container box-container">

  <div class="box-0">
    <a href="/subs/new">
    <input type="text" class="form-control" placeholder="Create Sub" aria-describedby="basic-addon1 ">
    </a>
  </div>

  <ul>
  <% @subs.each do |sub| %>
  
    <div class="box-1">
      <h5> <li><a href="<%= sub_url(sub) %>"><%= "r/" + sub.title %></a><br></li> </h5>
      <span><%= " Posted by u/" + current_user.username %></span>
      <p> <%= sub.description %> </p>
    </div>
  
  <% end %>
  </ul>
</div>

