/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */
/* PHASE 0: Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: 'Noto Sans', sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  background-color: #DAE0E6;
  color: #1C1C1C;
}

.box-0 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 38px;
  margin-top: 20px;
  width: 59%;
  padding: 0 16px;
  margin-left: 35px;
}

.box-1 {
  border: 1px solid #ccc;
  background: #f8f9fa;
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  margin-left: 50px;
  border-radius: 5px;
  width: 60%;
  padding: 7px;
}

.box-1:hover {
  border: 1px solid #898989;
  cursor: pointer;
}

p {
  font-size: 14px;
}

span {
  font-size: 12px;
  color: #9a9999;
  display: inline-block;
}

h5 {
  display: inline-block;
}

.my-own-color {
  color: #1a1a1b;
}

.nav-link {
  font-size: 14px;
}

.nav-item:hover {
  background-color: #dae0e6;
}

.nav-link:hover {
  color: #1a1a1b;
}

.create-sub-box {
  background-color: #f8f9fa;
  width: 65%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
}

label {
  width: 93%;
}

.sub-create {
  margin: 15px;
}

.create-button {
  float: right;
}

.create-color {
  background-color: #898989;
  color: #ccc;
  border-radius: 18px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.create-button:hover {
  color: #ccc;
  background-color: #9d9d9d;
}

#hr-sub {
  color: #898989;
}

.new-create {
  width: 54%;
  margin: 0 auto;
  padding: 20px;
}

#hr-new {
  color: #fff;
  border: 1px solid;
}

.border p {
  font-size: 18px;
  font-weight: 500;
}

.show-sub {
  width: 65%;
  margin: 0 auto;
}

.container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-posts {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.box-description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

h6 {
  background-color: #646d73;
  color: white;
  padding: 10px;
}

#p-description {
  padding: 10px;
}

#h1-sub {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  padding: 0 2px 4px 0;
  width: 100%;
  margin-left: 50px;
  margin-top: 13px;
}

.container-post {
  width: 65%;
  margin: 0 auto;
  background-color: #f8f9fa;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
}

#h5-post {
  font-size: 12px;
}

a:hover {
  color: black;
  text-decoration: underline;
}

#p-post {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  word-break: break-word;
}

.part-1 {
  margin-right: 20px;
}

#vote-number {
  font-size: 12px;
  font-weight: 500;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin: 0 auto;
  margin-top: 25px;
}
/*# sourceMappingURL=application.css.map */