.index-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin: 0 auto;
}

.something {
  width: 89%;
}

.box-0 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 38px;
  margin-top: 20px;
  width: 59%;
  padding: 0 16px;
  margin-left: 35px;
}

.box-1 {
  border: 1px solid #ccc;
  background: #f8f9fa;
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  margin-left: 50px;
  border-radius: 5px;
  width: 60%;
  padding: 7px;
}

.box-3:hover {
  border: 1px solid #898989;
  cursor: pointer;
}

p {
  font-size: 14px;
}

span {
  font-size: 12px;
  color: #9a9999;
  display: inline-block;
}

h5 {
  display: inline-block;
}

h5:hover {
  text-decoration: underline;
}

#h6-reddit-rules {
  background-color: white;
  color: black;
}

ol li {
  border-bottom: 1px solid #edeff1;
  padding: 1px;
  font-size: 14px;
}

.box-description-index-page {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  width: 271.7px;
  height: 267.19px;
  margin-top: 35px;
  border-radius: 3px;
  padding-bottom: 15px;
}

a:hover {
  text-decoration: none;
  color: black;
}

.btn-primary {
  border-radius: 26px;
  padding-left: 57px;
  padding-right: 57px;
}

.btn-outline-primary {
  margin-top: 12px;
  border-radius: 26px;
  padding-left: 35px;
  padding-right: 35px;
}

.create-post-community {
  padding-top: 12px;
  margin: 0 auto;
}

.box-description-ad {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  width: 259.7px;
  height: 241.19px;
  margin-top: 35px;
  border-radius: 3px;
  padding-bottom: 25px;
  padding: 8px;
}

@media only screen and (min-width: 945px) {
  .container-post1 {
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    margin-right: 25px;
  }
  .index-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    margin: 0 auto;
  }
  .container-post {
    width: 65%;
    margin: 0 auto;
    background-color: #f8f9fa;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 25px;
    border-radius: 3px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    margin: 0 auto;
    margin-top: 25px;
  }
  #h1-sub {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    padding: 0 2px 4px 0;
    padding-left: 209px;
    margin-top: 13px;
    width: 100%;
  }
}

@media only screen and (max-width: 945px) {
  .hello,
  .box-4,
  .sub-show-side-bar,
  .me-2 {
    display: none;
  }
  .container-post {
    width: 71%;
    background-color: #f8f9fa;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 61px;
    border-radius: 3px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .container-post1 {
    padding: 10px;
  }
  .index-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
  }
  .main-container {
    width: 100%;
    margin: 25px;
  }
  .box-3 {
    width: 98%;
  }
  .navbar {
    width: 125%;
  }
  .sub-show-side-bar2 {
    display: none;
  }
  #h1-sub {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    padding: 0 2px 4px 0;
    margin-top: 13px;
    width: 100%;
    padding-left: 50px;
  }
  .form-control {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
/*# sourceMappingURL=main_content_index.css.map */