.my-own-color {
    color: #1a1a1b;
}

.nav-link {
    font-size: 14px;
}
.nav-item:hover {
    background-color: #dae0e6;
}

.nav-link:hover {
    color: #1a1a1b;
}

// @media (max-width: 229px) {
//     .navbar-brand {
//         display:block;
//     }

//     .form-control {
//         display: none;
//     }
//     .nav-ul {
//         display: none;
//     }


// }

