.show-sub {
    width: 65%;
    margin: 0 auto;
}

.container-1 {
    display: flex;
}

.box-posts {
    flex: 3;
}

.box-description {
    flex: 1;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    align-items: flex-end;
}

h6 {
    background-color: #646d73;
    color: white;
    padding: 10px;
}

#p-description {
    padding: 10px;
}

#h1-sub {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    padding: 0 2px 4px 0;
    width: 100%;
    margin-left: 50px;
    margin-top: 13px;
}